<a href="https://colab.research.google.com/github/daloqily/PythonExcersizes/blob/main/Numpy_Maclaurin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

curve_centre = 80

## using numpy to create the array
grades = np.array([73,56,78,86,12,45,88,78])

def curve(grades):
  average = grades.mean()
  change = curve_centre - average
  new_grades = grades + change

## a function that takes an array and makes sure the values 
##donâ€™t exceed a given minimum or maximum
  return np.clip(new_grades, grades,100)

curve(grades)

array([ 88.5,  71.5,  93.5, 100. ,  27.5,  60.5, 100. ,  93.5])

In [17]:
import numpy as np
temperatures = np.array([
      29.3, 42.1, 18.8, 16.1, 38.0, 12.5,
   12.6, 49.9, 38.6, 31.3, 9.2, 22.2
   ]).reshape(2,2,3)

temperatures.shape

temperatures

##Interchange two axes of an array.
np.swapaxes(temperatures,1,2)

array([[[29.3, 16.1],
        [42.1, 38. ],
        [18.8, 12.5]],

       [[12.6, 31.3],
        [49.9,  9.2],
        [38.6, 22.2]]])

In [21]:
import numpy as np

#arange() Return evenly spaced values within a given interval
#reshape("horizontal" , "vertical" ,"elements within")
A=np.arange(32).reshape(4,1,8)

B=np.arange(48).reshape(1,6,8)

A

array([[[ 0,  1,  2,  3,  4,  5,  6,  7]],

       [[ 8,  9, 10, 11, 12, 13, 14, 15]],

       [[16, 17, 18, 19, 20, 21, 22, 23]],

       [[24, 25, 26, 27, 28, 29, 30, 31]]])

In [20]:
B

array([[[ 0,  1,  2,  3,  4,  5,  6,  7],
        [ 8,  9, 10, 11, 12, 13, 14, 15],
        [16, 17, 18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29, 30, 31],
        [32, 33, 34, 35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44, 45, 46, 47]]])

In [22]:
A+B

array([[[ 0,  2,  4,  6,  8, 10, 12, 14],
        [ 8, 10, 12, 14, 16, 18, 20, 22],
        [16, 18, 20, 22, 24, 26, 28, 30],
        [24, 26, 28, 30, 32, 34, 36, 38],
        [32, 34, 36, 38, 40, 42, 44, 46],
        [40, 42, 44, 46, 48, 50, 52, 54]],

       [[ 8, 10, 12, 14, 16, 18, 20, 22],
        [16, 18, 20, 22, 24, 26, 28, 30],
        [24, 26, 28, 30, 32, 34, 36, 38],
        [32, 34, 36, 38, 40, 42, 44, 46],
        [40, 42, 44, 46, 48, 50, 52, 54],
        [48, 50, 52, 54, 56, 58, 60, 62]],

       [[16, 18, 20, 22, 24, 26, 28, 30],
        [24, 26, 28, 30, 32, 34, 36, 38],
        [32, 34, 36, 38, 40, 42, 44, 46],
        [40, 42, 44, 46, 48, 50, 52, 54],
        [48, 50, 52, 54, 56, 58, 60, 62],
        [56, 58, 60, 62, 64, 66, 68, 70]],

       [[24, 26, 28, 30, 32, 34, 36, 38],
        [32, 34, 36, 38, 40, 42, 44, 46],
        [40, 42, 44, 46, 48, 50, 52, 54],
        [48, 50, 52, 54, 56, 58, 60, 62],
        [56, 58, 60, 62, 64, 66, 68, 70],
        [64, 66, 68, 70, 72, 74, 76, 78]]])

In [26]:
#Durer Magic Square
import numpy as np

square = np.array([
    [16, 3, 2, 13],
     [5, 10, 11, 8],
    [9, 6, 7, 12],
       [4, 15, 14, 1]
 ])


for i in range(4):
    assert square[:, i].sum() == 34
    assert square[i, :].sum() == 34

array([[16,  3,  2, 13],
       [ 5, 10, 11,  8],
       [ 9,  6,  7, 12],
       [ 4, 15, 14,  1]])

In [34]:
#A mask is an array that has the exact same shape as your data, but instead of your values,
# it holds Boolean values: either True or False.

import numpy as np
numbers = np.linspace(5,50,24,dtype=int).reshape(4,-1)

numbers

array([[ 5,  6,  8, 10, 12, 14],
       [16, 18, 20, 22, 24, 26],
       [28, 30, 32, 34, 36, 38],
       [40, 42, 44, 46, 48, 50]])

In [33]:
mask = numbers%4 ==0

mask

array([[False, False,  True, False,  True, False],
       [ True, False,  True, False,  True, False],
       [ True, False,  True, False,  True, False],
       [ True, False,  True, False,  True, False]])

In [36]:
#filtering results
by_four = numbers[numbers%4 == 0]
by_four

array([ 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48])

In [ ]:
## Implementing Maclauren Series

##Using NumPy allows you to keep closer to a one-to-one representation from equation to code.##

                              ##Maclaurens Series##
##You add up terms starting at zero and going theoretically to infinity.
## Each nth term will be x raised to n and divided by n!, which is the notation for the factorial operation.

![e-x-maclauren.webp]()

In [39]:
from math import e, factorial
import numpy as np
##1.	Vectorization is the process of performing the same operation in the same way for each element in an array. 
fac = np.vectorize(factorial)

"""Approximates e^x using a given number of terms of
    the Maclaurin series
    """
def e_x(x, terms=10):

  n = np.arange(terms)
  return np.sum((x**n) / fac(n))

if __name__ == "__main__":
  print("Actual:" , e**4)

  print("N(terms)\tMaclaurin\tError")

  for n in range(1,20):
    maclaurin = e_x(4, terms=n)
    print(f"{n}\t\t{maclaurin:.03f}\t\t{e**3 - maclaurin:.03f}")

Actual: 54.59815003314423
N(terms)	Maclaurin	Error
1		1.000		19.086
2		5.000		15.086
3		13.000		7.086
4		23.667		-3.581
5		34.333		-14.248
6		42.867		-22.781
7		48.556		-28.470
8		51.806		-31.721
9		53.432		-33.346
10		54.154		-34.069
11		54.443		-34.358
12		54.548		-34.463
13		54.583		-34.498
14		54.594		-34.508
15		54.597		-34.512
16		54.598		-34.512
17		54.598		-34.513
18		54.598		-34.513
19		54.598		-34.513

In [40]:
                ## Structured Arrays##
## NumPy has a special kind of array, 
## called a record array or structured array,
## with which you can specify a type and, optionally,
## a name on a per-column basis.

' NumPy has a special kind of array, \ncalled a record array or structured array,\n with which you can specify a type and, optionally,\n  a name on a per-column basis.'

In [42]:
import numpy as np

data=np.array([
    ("joe", 32, "M"),
    ("mary", 29, "F"),
    ("philip", 42,"M")
], dtype=[("name",str,10), ("age",int),("gender", str, 5)])

## access by index
data[0]

('joe', 32, 'M')

In [43]:
##access by field\column
data["name"]

array(['joe', 'mary', 'philip'], dtype='<U10')

In [45]:
## access by filtering
data[data["gender"] == "F"]["name"]

##acts as a SQL query 
#  SELECT name FROM data
#  WHERE power > 9000;

array(['mary'], dtype='<U10')

In [46]:
np.sort(data[data["gender"] == "M" ],order="age")["name"]

array(['joe', 'philip'], dtype='<U10')